

:root {
    --modeblanck: white;
    --textwhitemode: black;
  }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
    /* z-index = pour que les item soit en desssous de la nav bar */
    z-index: -1;
    /* z-index = pour que les item soit en desssous de la nav bar */
}

::selection {
    color: black;
    background:rebeccapurple;
}

.header {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: calc(100% - 40px);
    height: 80px;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* z-index = pour que la nav bar soit au dessus des items */
    z-index: 100;
}

.header__logo img {
    max-width: 55px;
    border-radius: 50%;
}

.header__nav__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__nav__menu__link {
    margin-right: 40px;
}

.header__nav__menu__link:last-of-type {
    margin: initial;
}

.header__nav__menu__link a {
    color: white;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

.header__nav__menu__link a:after {
    content: '';
    height: 2px;
    background-color: #fff;
    width: 0;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: 0.2s all ease-in-out;
}

.header__nav__menu__link a:hover:after {
    width: 100%;
    left: 0;
}

.header__burger {
    display: none;
}

.header__nav__menu__link svg {
    fill: white;
    height: 1.15em;
}

#icon_compte{
    padding: 3px;
    border: 3px solid white;
    border-radius: 50%;
}

#email_icon {
    stroke: black;
    padding: 3px;
    border-radius: 50%;
}

.header__burger {
    margin-right: 0.8em;
}

.header__burger svg {
    stroke: #fff;
    height: 1.8em;
    box-shadow: rebeccapurple 0px 4px 6px  0px ;
    padding: 10px;
    border-radius: 1em;
}

.header__nav__close {
    display: none;
}

.header__nav__menu__link__slogan p {
    display: none;
}

.section__presentation {
    width: 100%;
    margin-top: 80px;
    height: 700px;
    background-color: #0c1315;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.section__presentation img {
    width: 27em;
    border-radius: 0.6em;
    object-fit: cover;
} */

.section__presentation__space h1 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 0px;
}

.section__presentation__space h2 {
    font-weight: lighter;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 1.5em;
}

.section__presentation__space a {
    text-decoration: none;
    border-radius: 1em;
    background-color: #000046;
    color: white;
    font-size: 1em;
    margin-top: 0.1em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 12px 40px;
    font-family: 'Montserrat', sans-serif;
}

.section__presentation__space a:hover {
    color: black;
    margin-top: -10px;
    transition: 0.15s all ease-in-out;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* --------------------------------- */

.section__streaming {
    width: 100%;
    height: 550px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.section__streaming__space {
    width: 90%;
    color: white;
}
/*
.section__streaming__space img {
    width: 20em;
} */

.section__streaming h3 {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.section__streaming__space ol {
    border: 2px solid yellow;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    color: white;
}

.section__streaming__space__link a {
    padding-left: 0.4em;
    color: white;
}



/*--------------------------------*/

.main_event {
    width: 100%;
    height: 700px;
    width: 100%;
    background-color: var(--modeblanck);
    color: var(--textwhitemode);
    margin: 0;
    padding: 0;
}

.main__event__space {
    width: 90%;
    height: 80%;
}

.main__event__space img {
    width: 20em;
}

.main__event__space h1 {
    margin: 0;
    text-shadow: 4px 4px 15px blue;
}


@media only screen and (min-width: 600px) {

    .section__presentation {
        height: 768px;
    }

    .section__presentation__space {
        width: 90%;
        height: 50%;
    }

    .section__presentation__space a {
        text-decoration: none;
        border-radius: 1em;
        background-color: #000046;
        color: white;
        font-size: 1em;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 12px 40px;
        font-family: 'Montserrat', sans-serif;
    }

    .section__presentation video {
        position: relative;
        float: right;
        width: 45%;
        bottom: 17em;
        border-radius: 0.5em;
        object-fit: cover;
    }
    /*
    .section__presentation img {
        float: right;
        width: 35%;
        border-radius: 0.5em;
        object-fit: cover;
        margin: 0em 1em;
    } */

    .section__presentation__space h1 {
        background: #888ee4;
        background: repeating-radial-gradient(circle farthest-corner at center center, #121FCF 0%, #0ae4c4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section__presentation__space h2 {
        text-align: left;
        background: repeating-radial-gradient(circle farthest-corner at center center, #babcd4 0%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 53%;
    }

    .section__presentation__space h1, h2 {
        padding: 0px;
        margin: 1em 0em;
        font-family: 'Noto Sans', sans-serif;
    }

    .main_event {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    /* main__event__space__text = centrer les item au middle 
    """"""""""""""""""""""""""""""""""""""""""""""""""""""""
    */

    .main__event__space img {
        float: right;
        width: 45%;
        object-fit: cover;
        margin-left: 0em;
        border-radius: 1em;
    }
    
    .main__event__space h1 {
        margin-top: 0em;
        font-size: 2.2em;
        font-family: satoshi, 'Montserrat', sans-serif;
    }

    .main__event__space h2 {
        text-align: left;
        margin: 0.5em 0;
        font-size: 1.2em;
        font-weight: 450;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .main__event__space p {
        border-left: 2px solid blue;
        padding-left: 1em;
        font-size: 1.3em;
    }

    .main__event__space__text h1, h2 {
       width: 48%;
    }
    /* main__event__space__text = centrer les item au middle
    """""""""""""""""""""""""""""""""""""""""""""""""""""""" 
    */
  }

  .section__watch__movie {
      height: 1500px;
      width: 100%;
      background-color: #161E2F;
  }

  .section__watch__movie__space__img__title__space {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  
  .section__watch__movie__space__img__title {
    width: 90%;
    border-radius: 2em;
    color: white;
  }

  .section__watch__movie__space__img__title__space img {
    float: left;
    width: 50%;
    margin-right: 3em;
    object-fit: cover;
    border-radius: 2em;
  }

  .section__watch__movie__space__img__title h1 {
    text-align: right;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 3.1em;
    background: repeating-radial-gradient(circle farthest-corner at center right, #121FCF 0%, #0ae4c4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
  }

  .section__watch__movie__space__img__title h3 {
    text-align: right;
    font-size: 1.8em;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif, ;
  }

  .section__watch__movie__space__img__title h1, h3 {
    position: relative;
    width: 100%;
  }



  .section__list__of__suggests {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .section__list__of__suggests h2 {
    border-left: 4px rebeccapurple solid;
    padding-left: 1.5em;
    font-size: 3em;
  }

  .section__list__of__suggests li {
    padding: 0;
    margin: 0;
    color: white;
    list-style:'➜';
    list-style-position: inside;
  }

  .section__list__of__suggests a{
    margin-left: 2em;
    color: white;
    font-size: 1.5em;
  }

  .section__img__galery__present {
    margin: 3em 2em 0em 2em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }

  .section__img__galery__present img {
    width: 100%;
    border-radius: 0.5em;
    object-fit: cover;
  }

@media screen and (max-width: 600px) {

    .header__burger {
        display: block;
        cursor: pointer;
    }

    .header__nav {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100vh;
        background-color: #30334b;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        background: linear-gradient(to right, #0c1315, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .header__nav.open {
        display: flex;
        animation: transformMenu 300ms ease-in-out forwards;
        z-index: 100;
    }

    @keyframes transformMenu {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: initial;
        }
    }

    .header__nav__menu {
        flex-direction: column;
        align-items: center;
    }

    .header__nav__menu__link {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header__nav__menu__link a {
        display: flex;
        align-items: center;
        font-size: 1.8em;
    }

    .header__nav__menu__link svg {
        fill: white;
        height: 1em;
    }

    .header__nav__menu__link__slogan p {
        position: relative;
        display: block;
        text-transform: uppercase;
        color: #fff;
        bottom: -0.05em;
        font-family: 'Roboto', sans-serif;
    }

    #icon_compte{
        padding: 2px;
        border: 2px solid white;
        margin: 0px 0px;
    }
    
    #email_icon {
        stroke: black;
        padding: 1px;
        margin: 0px 0px;
        border-radius: 50%;
    }

    .header__nav__close  {
        display: block;
        cursor: pointer;
    }

    .header__nav__close svg {
        stroke: #fff;
        height: 2.3em;
        position: absolute;
        top: 20px;
        right: 2.2em;
    }

    .overlay__menu__mobile {
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(17, 17, 16);
        opacity: 0.8;
        display: none;
    }

    .overlay__menu__mobile.open {
        display: block;
    }

    .section__presentation {
        width: 100%;
        margin-top: 80px;
        height: 680px;
        background-color: #0c1315;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section__presentation video {
        width: 20em;
        border-radius: 0.5em;
        object-fit: cover;
        margin-bottom: 2em;
        margin-bottom: 2em;
    }

    /* "img web site main.png"
    .section__presentation img {
        width: 21em;
        border-radius: 0.5em;
        object-fit: cover;
    } */
    
    .section__presentation__space {
        width: 85%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__presentation__space h2 , a {
        text-align: left;
        font-size: 1em;
        font-family: 'Noto Sans', sans-serif;
        line-height: 1.2em;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .section__presentation__space h2 {
        background: #121FCF;
        background: repeating-radial-gradient(circle farthest-corner at center center, #babcd4 0%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.1em;
    }

    .section__presentation__space h1 {
        margin-bottom: 10px;
        text-align: left;
        font-size: 2em;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        background: #121FCF;
        background: repeating-radial-gradient(circle farthest-corner at center center, #121FCF 0%, #0ae4c4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .section__presentation__space a {
        text-decoration: none;
        border-radius: 1em;
        background-color: #000046;
        color: white;
        font-size: 1.1em;
        margin-top: 0.1em;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 12px 30px;
        font-family: 'Montserrat', sans-serif;
    }

    .section__streaming {
        width: 100%;
        background: #000428;  /* fallback for old browsers */
        background: -webkit-linear-gradient(45deg, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(45deg, #004e92, #000428);
        color: black;
    }

    .section__streaming__space {
        width: 90%;
        height: 88%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .section__streaming__space img {
        width: 20em;
        border-radius: 2em;
    }

    .section__streaming h3 {
        padding: 0;
        margin: 0;
    }

    .section__streaming__space ol {
        list-style-position: inside;
        border: 3.3px solid #ee0000;
        margin: 0;
        border-radius: 2em;
        padding: 10px 3em;
        color: white;
    }

    .section__streaming__space__link a {
        padding-left: 0.4em;
        color: white;
    }
    
    .main_event {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 750px;
    }

    .main__event__space {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__event__space img {
        width: 98%;
        border-radius: 1em;
    }

    .main__event__space h1 {
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }

    .main__event__space h2 {
        margin: 0.5em 0;
        font-size: 1.2em;
        font-weight: 450;
        font-family:satoshi, 'Montserrat Alternates', sans-serif;
    }

    .main__event__space p {
        border-left: 2px solid blue;
        padding-left: 1em;
    }

    .section__watch__movie {
        height: 1700px;
        width: 100%;
        background-color: #161E2F;
    }

    .section__watch__movie__space__img__title__space {
        height: 400px;
        width: 100%;
        display: block;
        margin-bottom: 8em;
      }
      
      .section__watch__movie__space__img__title {
        width: 100%;
        border-radius: 2em;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2em 0em;
        margin: 0;
      }
    
      .section__watch__movie__space__img__title__space img {
        width: 90%;
        margin-right: 0em;
        object-fit: cover;
        border-radius: 1em;
      }
    
      .section__watch__movie__space__img__title h1 {
        font-family:'Montserrat Alternates', sans-serif;
        font-size: 1.5em;
        background: repeating-radial-gradient(circle farthest-corner at center right, #121FCF 0%, #0ae4c4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0;
        margin: 0;
        text-align: center;
      }
    
      .section__watch__movie__space__img__title h3 {
        font-size: 1em;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif, ;
        text-align: center;
      }
    
      .section__watch__movie__space__img__title h1, h3 {
        position: relative;
        width: 90%;
        margin-top: 1em;
        text-align: center;
      }
    
      .section__list__of__suggests {
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 3em;
      }
    
      .section__list__of__suggests h2 {
        text-align: center;
        border-left: 3px rgb(9, 220, 248) solid;
        font-size: 1.8em;
        width: 80%;
      }
    
      .section__list__of__suggests li {
        padding: 0;
        margin: 0;
        color: white;
        list-style:'➜';
        list-style-position: inside;
      }
    
      .section__list__of__suggests a{
        margin-left: 1em;
        color: white;
        font-size: 1.5em;
      }
    
      .section__img__galery__present {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5em 0;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    
      .section__img__galery__present img {
        width: 90%;
        border-radius: 0.5em;
        object-fit: cover;
      }

 }
