
body {
    margin: 0;
    padding: 0;
}

.header {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: calc(100% - 40px);
    height: 90px;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header__logo img {
    max-width: 80px;
}

.header__nav__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__nav__menu__link {
    margin-right: 40px;
}

.header__nav__menu__link:last-of-type {
    margin: initial;
}

.header__nav__menu__link a {
    color: white;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

.header__nav__menu__link a:after {
    content: '';
    height: 2px;
    background-color: #fff;
    width: 0;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: 0.2s all ease-in-out;
}

.header__nav__menu__link a:hover:after {
    width: 100%;
    left: 0;
}

.header__burger {
    display: none;
}

.header__nav__menu__link svg {
    fill: white;
    height: 1.1em;
    border: 0px;
}

.header__burger svg {
    stroke: #fff;
    height: 2em;
}

#icon_compte{
    padding: 3px;
    border: 3px solid white;
    border-radius: 50%;
}

#email_icon {
    stroke: black;
    border: 1px solid darkblue;
    padding: 3px;
    border-radius: 50%;
}


.header__nav__close {
    display: none;
}

@media screen and (max-width: 600px) {

    .header__burger {
        display: block;
        cursor: pointer;
    }

    .header__nav {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 7em;
        height: 260px;
        background-color: #000046;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        border-radius: 20px;
    }

    .header__nav.open {
        display: flex;
        animation: transformMenu 300ms ease-in-out forwards;
    }

    @keyframes transformMenu {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: initial;
        }
    }

    .header__nav__menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__nav__menu__link {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header__nav__menu__link a {
        display: flex;
        align-items: center;
        font-size: 1.3em;
    }

    .header__nav__menu__link svg {
        fill: white;
        height: 0.9em;
    }

    #icon_compte{
        padding: 2px;
        border: 2px solid white;

        margin: 0px 0px;
    }
    
    #email_icon {
        stroke: black;
        border: 1px solid darkblue;
        padding: 1px;
        margin: 0px 0px;
        border-radius: 50%;
    }

    .header__nav__close  {
        display: block;
        cursor: pointer;
    }

    .header__nav__close svg {
        stroke: #fff;
        height: 1.8em;
        position: absolute;
        top: 10px;
        right: 16px;
        
    }

    .overlay__menu__mobile {
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.9;
        display: block;
    }


 }

